@model IEnumerable<BTLWEB.Models.Category>

@{
    ViewData["Title"] = "Category List";
}
<h3>@ViewData["Title"]</h3>
<form>
    <button asp-action="Create" asp-controller="Category" class="btn btn-primary mb-3">Add</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active">
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div>
                            No Categories avaiable at this moment!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
